<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css'%}">
    <script defer src="{% static 'core/js/bootstrap.bundle.min.js'%}"></script>
    <title>{% block title%} Shop {% endblock %}</title>
</head>
<body>
{% include 'Core/includes/header.html'%}
<main style="min-height: 80vh;">
    {% block content %} {% endblock %}
</main>
{% include 'Core/includes/footer.html'%}
</body>
</html>