{% extends "Core/base.html" %}
{% load static %}
{% block title %} Shop catalog {% endblock %}
{% block content%}
<h1 class="text-center fw-bold mb-4">Каталог</h1>
<div class="d-flex flex-wrap justify-content-center gap-3 mx-auto" style="min-width: 800px;">
  {% for product in products%}
  <a href="{% url 'product_detail' product_id=product.id %}" class="card rounded-4 text-decoration-none" style="width: 18rem;">
    <img class="card-img-top rounded-4" src="{{product.image.url}}" alt="" style="max-height: 230px;">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <span class="card-text d-flex mt-auto">
        <span class="fw-bold fs-2">{{product.price}}₽</span>
        {% if product.sale%}
        <span class="text-danger fs-6">-{{product.sale}}%</span>
        {% endif %}
      </span>
      <div class="d-flex gap-1">
        {% for star in 'apple'%}
        {% if forloop.counter <= product.rating%} <img src="{% static 'Core/img/star.png'%}" alt="" width="20"
          height="20">
          {% else %}
          <img src="{% static 'Core/img/star.png'%}" alt="" width="20" height="20" style="filter: grayscale(1);">
          {% endif %}
          {% endfor %}
      </div>
      <p class="card-text">{{product.descript}}.</p>
      {% if product.is_available%}
      <button class="btn btn-primary">Подробнее</button>
      {% else %}
      <button class="btn btn-primary" disabled>нет в наличии</button>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}