{% extends "Core/base.html" %}
{% load static %}
{% block title %} Shop orders {% endblock %}
{% block content%}
<h1 class="text-center fw-bold mb-4">Заказы</h1>
<div class="d-flex flex-wrap justify-content-center gap-3 mx-auto" style="min-width: 800px;">
  {% for order in orders%}
    <div class="d-flex flex-column text-center border-0 rounded-4 text-nowrap px-4 py-2" style="width: min-content; box-shadow: 0 0 5px black;">
        <span class="align-self-start fw-bold fs-5">
            {{order.id}}
        </span>
        <a href="{% url 'product_detail' product_id=order.product.id %}">
            {{order.product.name}}
        </a>
        <span>
            {{order.delivery_adress}}
        </span>
        <span>
            {{order.created_at}}
        </span>
    </div>
  {% endfor %}
</div>
{% endblock %}