{% extends "Core/base.html" %}
{% load static %}
{% block title %} Shop - {{product.name}} {% endblock %}
{% block content %}

<div class="d-flex align-items-center gap-5 rounded-4 mx-auto" style="width: 1000px;">
    <img class="rounded-4" src="{{product.image.url}}" alt="" style="width:50%;">
    <div class="d-flex flex-column gap-3">
      <h5 class="card-title">{{product.name}}</h5>
      <span class="card-text d-flex mt-auto">
        <span class="fw-bold fs-2">{{product.price}}₽</span>
        {% if product.sale%}
        <span class="text-danger fs-6">-{{product.sale}}%</span>
        {% endif %}
      </span>
      <div class="d-flex gap-1">
        {% for star in 'apple'%}
        {% if forloop.counter <= product.rating%} <img src="{% static 'shop/img/star.png'%}" alt="" width="20"
          height="20">
          {% else %}
          <img src="{% static 'shop/img/star.png'%}" alt="" width="20" height="20" style="filter: grayscale(1);">
          {% endif %}
          {% endfor %}
      </div>
      <p class="card-text">{{product.descript}}.</p>
      {% if product.is_available%}
      <a href="{% url 'order_create' product_id=product.id %}" class="btn btn-primary text-decoration-none">Оформить заказ</a>
      {% else %}
      <button class="btn btn-primary" disabled>нет в наличии</button>
      {% endif %}
    </div>
  </div>

{% endblock%}